<a href="https://colab.research.google.com/github/labib1910024/ECE_4246_Neural_Networks/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

# 1. Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
}
df = pd.DataFrame(data)

print("DataFrame:")
print(df)

DataFrame:
      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

In [3]:
# 2. Accessing Data
print("\nColumn Access:")
print(df['Name'])  # Access a single column

print("\nRow Access (iloc):")
print(df.iloc[0])  # Access the first row (by position)

print("\nRow Access (loc):")
print(df.loc[0])  # Access the first row (by index)

Column Access:
0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object

Row Access (iloc):
Name      Alice
Age          25
Salary    50000
Name: 0, dtype: object

Row Access (loc):
Name      Alice
Age          25
Salary    50000
Name: 0, dtype: object

In [4]:
# 3. Filtering Data
filtered_df = df[df['Age'] > 25]
print("\nFiltered DataFrame (Age > 25):")
print(filtered_df)

Filtered DataFrame (Age > 25):
      Name  Age  Salary
1      Bob   30   60000
2  Charlie   35   70000

In [6]:
# 4. Adding a New Column
df['Department'] = ['HR', 'IT', 'Finance']
print("\nDataFrame with New Column:")
print(df)

DataFrame with New Column:
      Name  Age  Salary Department
0    Alice   25   50000         HR
1      Bob   30   60000         IT
2  Charlie   35   70000    Finance

In [7]:
# 5. Modifying Data
df.loc[1, 'Salary'] = 65000  # Update a specific cell
print("\nDataFrame after Modifying Salary:")
print(df)

DataFrame after Modifying Salary:
      Name  Age  Salary Department
0    Alice   25   50000         HR
1      Bob   30   65000         IT
2  Charlie   35   70000    Finance

In [8]:
# 6. Deleting a Column
df = df.drop('Department', axis=1)
print("\nDataFrame after Deleting Department Column:")
print(df)

DataFrame after Deleting Department Column:
      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   65000
2  Charlie   35   70000

In [9]:
# 7. Sorting Data
sorted_df = df.sort_values(by='Salary', ascending=False)
print("\nSorted DataFrame by Salary (Descending):")
print(sorted_df)

Sorted DataFrame by Salary (Descending):
      Name  Age  Salary
2  Charlie   35   70000
1      Bob   30   65000
0    Alice   25   50000

In [10]:
# 8. Descriptive Statistics
print("\nDescriptive Statistics:")
print(df.describe())

Descriptive Statistics:
        Age        Salary
count   3.0      3.000000
mean   30.0  61666.666667
std     5.0  10408.329997
min    25.0  50000.000000
25%    27.5  57500.000000
50%    30.0  65000.000000
75%    32.5  67500.000000
max    35.0  70000.000000

In [13]:
# 9. Handling Missing Data
df.loc[3] = ['David', None, 45000]  # Add a row with a missing value
print("\nDataFrame with Missing Value:")
print(df)

# Fill missing values
df['Age'] = df['Age'].fillna(df['Age'].mean())  # Fill missing Age with the mean
print("\nDataFrame after Filling Missing Values:")
print(df)

DataFrame with Missing Value:
      Name   Age  Salary
0    Alice  25.0   50000
1      Bob  30.0   65000
2  Charlie  35.0   70000
3    David   NaN   45000

DataFrame after Filling Missing Values:
      Name   Age  Salary
0    Alice  25.0   50000
1      Bob  30.0   65000
2  Charlie  35.0   70000
3    David  30.0   45000

In [12]:
# 10. Exporting and Importing Data
df.to_csv('data.csv', index=False)  # Save DataFrame to a CSV file
print("\nDataFrame saved to 'data.csv'.")

# Import DataFrame from CSV
loaded_df = pd.read_csv('data.csv')
print("\nLoaded DataFrame from 'data.csv':")
print(loaded_df)

DataFrame saved to 'data.csv'.

Loaded DataFrame from 'data.csv':
      Name   Age  Salary
0    Alice  25.0   50000
1      Bob  30.0   65000
2  Charlie  35.0   70000
3    David  30.0   45000